.App {
  text-align: center;
}
.task-wrapper{
  position: fixed;
  width: 100%;
}
.marginTop{
  margin-top: 0;
}
.font-size18{
  font-size: 18px;
  font-weight: bold;
}
.font-size20{
  font-size: 20px;
  color: cornflowerblue;
  font-weight: bold;
}
.list{
  background-color: cornflowerblue;
  padding: 15px;
  margin-bottom: 10px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-left: 8px solid black;
}
.task{
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid black !important;
  border-bottom: 2px solid black !important;
  text-decoration: line-through;
}
.list-body{
  overflow-y: auto;
  height: calc(100vh - 300px);
  display: inline-block;
  width: 100%;
}
.list-body::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.list-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
/* Handle */
.list-body::-webkit-scrollbar-thumb {
  background: cornflowerblue;
  border-radius: 6px;
}
/* Handle on hover */
.list-body::-webkit-scrollbar-thumb:hover {
  background: deepskyblue;
}
